@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  html{
   
  }
}
.color{
  color: orange;
}
::-webkit-scrollbar{
  width: 5px;
}
::-webkit-scrollbar-thumb{
  background-color: aliceblue;
}
::-webkit-scrollbar-track{
  background-color:black;
}
.cart{
  width: 30px;
  height: 30px;
}
.regulate-star{


}